/* ================== XXL ================== */
@media screen and (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

/* ================== XL ================== */
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
  .cards {
    width: 32.5%;
  }
}

/* ================== LG ================== */
@media screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }

  .header-img img {
    height: 23.125rem;
    width: 60%;
    object-position: center;
    object-fit: cover;
  }

  .a-p {
    top: 85%;
    left: 15%;
  }
  .carousel-control-prev {
    left: 36%;
    top: 80%;
  }
  .carousel-control-next {
    right: 54%;
    top: 80%;
  }
  .cards {
    width: 49%;
  }
  .best-team {
    position: relative;
    width: 49%;
  }
  .nick-name-pha {
    left: 80%;
    bottom: 15%;
  }
}

/* =================================================== */

@media screen and (max-width: 992px) {
  html {
    font-size: 13px;
  }

  .header-img img {
    height: 23.125rem;
    width: 70%;
    object-position: center;
    object-fit: cover;
  }
  .a-p {
    top: 90%;
    left: 10%;
  }
  .img-latest-games {
    width: 80%;
    height: 21.875rem;
  }
  .img-latest-games:hover .hover-latest-games {
    width: 100%;
    height: 21.875rem;
  }
  .carousel-control-prev {
    left: 32%;
    top: 94%;
  }
  .carousel-control-next {
    right: 53%;
    top: 94%;
  }
  .cards {
    width: 49%;
  }
  .img-more-than-just-games {
    width: 49%;
  }
  .more-than-just-games {
    gap: 0.625rem;
  }
  .animation-1 img {
    width: 6%;
  }
  .animation-2 img {
    width: 6%;
  }
  .fs-12px {
    font-size: 0.6875rem;
    color: #9b9da0;
  }
  .fs-14px {
    font-size: 0.8125rem;
  }
}
/* =================================================== */

/* ================== MD ================== */
@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .header-img img {
    height: 21.875rem;
    width: 80%;
    object-position: center;
    object-fit: cover;
  }
  .a-p {
    top: 85%;
    left: 7%;
  }
  .none {
    display: none;
  }
  header {
    padding-block: 15%;
  }
  .img-latest-games {
    width: 90%;
    height: 21.875rem;
  }
  .img-latest-games:hover .hover-latest-games {
    width: 100%;
    height: 21.875rem;
  }
  .carousel-control-prev {
    left: 29%;
    top: 94%;
  }
  .carousel-control-next {
    right: 53%;
    top: 94%;
  }
  .animation-1 img {
    width: 7%;
  }
  .animation-2 img {
    width: 7%;
  }
  .best-team {
    position: relative;
    width: 100%;
  }
}

/* ================== SM ================== */
@media screen and (max-width: 576px) {
  html {
    font-size: 13px;
  }

  .header-img img {
    height: 12.5rem;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  .a-p {
    top: 85%;
    left: -5%;
  }
  .none {
    display: none;
  }
  header {
    padding-block: 25% 20%;
  }
  .img-latest-games {
    width: 90%;
    height: 15.625rem;
  }
  .img-latest-games:hover .hover-latest-games {
    width: 100%;
    height: 15.625rem;
  }
  .carousel-control-prev {
    left: 19%;
    top: 91%;
  }
  .carousel-control-next {
    right: 55%;
    top: 91%;
  }

  .cards {
    width: 48%;
  }
  .img-more-than-just-games {
    width: 48%;
  }
  .more-than-just-games {
    gap: 0.625rem;
  }
  .animation-1 img {
    width: 10%;
  }
  .animation-2 img {
    width: 10%;
  }
}
